<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>文书库(Demo)</title>

        <!-- css -->
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/web.css">

        <!-- js -->
        <!-- jQuery -->
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../static/js/web.js"></script>
        <script type="text/javascript">get_all_docs();</script>

    </head>
    <body>
        <div class="frame">

            
            <h1 class="text-center">文书库</h1>

            <!-- 结果选择窗口 -->
            <div class="col-sm-4" style="border-right-style: inset;">
                <h2 class="text-center">候选文书</h2>

                <div class="block">
                    <div  id="tb_result_lib">
                        <table class="table" style="min-height: 100px;">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">案号</th>
                                    <th class="col-sm-8">文书标题</th>
                                </tr>
                            </thead>
                            <tbody id="tb_result_body">

                            </tbody>
                        </table>    
                    </div>
                </div>
                
                
            </div>

            <!-- 结果展示窗口 -->
            <div class="col-sm-8">
                <h2 class="text-center">文书详情</h2>
                <table class="table" id="tb_description", style="visibility: hidden;">
                    <thead>
                        <tr>
                            <th class="col-sm-2">项目</th>
                            <th class="col-sm-10">内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="des_title">
                            <td>标题</td>
                            <td></td>
                        </tr>
                        <tr id="des_id">
                            <td>案号</td>
                            <td></td>
                        </tr>
                        <tr id="des_cause">
                            <td>案由</td>
                            <td></td>
                        </tr>
                        <tr id="des_source">
                            <td>来源</td>
                            <td></td>
                        </tr>
                        <tr id="des_court">
                            <td>审理法院</td>
                            <td></td>
                        </tr>
                        <tr id="des_judge">
                            <td>审判员</td>
                            <td></td>
                        </tr>
                        <tr id="des_clerk">
                            <td>书记员</td>
                            <td></td>
                        </tr>
                        <tr id="des_party">
                            <td>当事人</td>
                            <td></td>
                        </tr>
                        <tr id="des_process">
                            <td>庭审过程</td>
                            <td></td>
                        </tr>
                        <tr id="des_opinion">
                            <td>法院意见</td>
                            <td></td>
                        </tr>
                        <tr id="des_result">
                            <td>判决结果</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>    
            </div>

        </div>
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    </body>
</html>
